.DS_Store
.idea/

# .NET/Mono
*.exe
*.pdb
*.dll
*.log
*.vscode
*.vs
*/bin/
*/obj/
.project
*.swp

# Build Folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esults/
[Tt]est[Rr]esults[Rr]eader/
[Ss]tage/
[Ss]tage[Ss]torage/
[Ii]p/
[Ii]ntermediate/
[Ss]creenshots/
[Ss]cript[Ss]Assemblies/
[Oo]ut/
[Oo]ut[Bb]uild/
[Dd]ebug[Pp]ublish/
[Dd]ebug/[Tt]emp[Mm]appings/

