<nav>
    <a type="button" class="btn btn-primary" asp-controller="WebShop" asp-action="Index">Home</a>
    <a type="button" class="btn btn-primary" asp-controller="WebShop" asp-action="Privacy">Privacy</a>
</nav>