@model List<Category>

<nav>
    <a type="button" class="btn btn-primary" asp-controller="WebShop" asp-action="Index" asp-route-id="">Home</a>
    <a type="button" class="btn btn-primary" asp-controller="WebShop" asp-action="Privacy">Privacy</a>
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li><a class="dropdown-item" asp-controller="WebShop" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></li>
        }
    </ul>
</nav>