nav {  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-height: 200px;
    align-self: center;
    padding-top: 10px
}

.my-container {
    display: flex;
    flex-wrap: wrap;
}

.my-card {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 600px;
    max-width: 350px;
    margin: 5px;
}

/* Should be set on the properties of nav tag. */
.navbar-placeholder {
    height: calc(2*58px);
    background: white;
}

/* cart */

.card-in-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.product-in-cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
